@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), url('../fonts/montserrat-v23-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), url('../fonts/montserrat-v23-latin-700.woff') format('woff');
}

/* GENERAL CSS */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
}

img {
    display: inline-block;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1090px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link {
    text-decoration: none;
    margin-right: 41px;
}

.header-logo-heading {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-item + .header-item {
    margin-left: 21px;
}

.header-nav-link {
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-login-btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    margin-right: 45px;
}

.header-join-btn {
    padding: 15px 52px 15px 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #1BA0AB;
    border-radius: 5px;
    background-image: url("../images/header-btn.svg");
    background-repeat: no-repeat;
    background-position: right 25px center;
    appearance: none;
    transition: background 2s, color 2s;
}

.header-join-btn:hover {
    background-color: #36B3FF;
    color: #6A97BE;
}