@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), url('../fonts/montserrat-v23-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), url('../fonts/montserrat-v23-latin-700.woff') format('woff');
}

/* GENERAL CSS */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
}

img {
    display: inline-block;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1090px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FFF5F0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link {
    text-decoration: none;
    margin-right: 41px;
}

.header-logo-heading {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-item + .header-item {
    margin-left: 21px;
}

.header-nav-link {
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-login-btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    margin-right: 45px;
}

.header-join-btn {
    padding: 15px 52px 15px 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #1BA0AB;
    border-radius: 5px;
    background-image: url("../images/header-btn.svg");
    background-repeat: no-repeat;
    background-position: right 25px center;
    border: 1px solid transparent;
    appearance: none;
    transition: background 3s, color 1s;
}

.header-join-btn:hover {
    background-color: white;
    color: #1BA0AB;
    border: 1px solid #1BA0AB;
}

/* SECTION HERO */

.section-hero {
    padding-top: 26px;
    background: #FFF5F0;
    background-image: url("../images/hero-nurse.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 400px);
}

.hero-container {
    width: 1479px;
}

.hero-left {
    padding: 163px 132px;
}

.hero-top-heading {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #1BA0AB;
    margin-bottom: 30px;
}

.hero-main-heading {
    margin: 0;
    max-width: 542px;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 30px;
}

.hero-desc {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 30px;
}

.hero-join-btn {
    padding: 15px 40px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #1BA0AB;
    border-radius: 5px;
    border: 1px solid transparent;
    appearance: none;
    transition: background 1s, color 1s;
    margin-right: 10px;
}

.hero-join-btn:hover {
    background-color: white;
    color: #1BA0AB;
    border: 1px solid #1BA0AB;
}

.hero-learn-btn {
    padding: 15px 40px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    border: 1px solid #1BA0AB;
    border-radius: 5px;
    appearance: none;
    transition: background 1s, color 1s;
}

.hero-learn-btn:hover {
    background-color: #1BA0AB;;
    color: white
}

/* SECTION ACTIVITY */

.activity {
    padding: 160px 200px 219px 195px;
}

.activity-container {
    width: 1085px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-box {
    max-width: 351px;
}

.activity-line {
    display: inline-block;
    width: 94px;
    height: 7px;
    background: #E74040;
    margin-bottom: 35px;
}

.activity-heading {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 35px;
}

.activity-desc {
    margin: 0;
    width: 346px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 35px;
}

.learn-btn {
    max-width: 104px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    display: flex;
    align-items: center;
}

.icon-next {
    margin-left: 10px;
}

.activity-card-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.activity-card-item {
    padding: 35px 47px 35px 35px;
    max-width: 239px;
}

.activity-card-item + .activity-card-item {
    margin-left: 30px;
}

.activity-card-link {
    width: 70px;
    padding: 22px 19px;
    background-color: #1BA0AB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.activity-card-heading {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 20px;
}

.activity-devider {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #E74040;
    margin-bottom: 20px;
}

.activity-card-desc {
    margin: 0;
    width: 132px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

/* SECTION EXPERTS */

.experts {
    padding: 160px 197px 108px 197px;
}

.experts-container {
    width: 1085px;
    display: flex;
    align-items: center;
}

.experts-box {
    max-width: 381px;
    margin-left: 144px;
}

/* SECTION REFERENCE */

.reference {
    padding-top: 160px;
    padding-bottom: 160px;
}

.reference-container {
    width: 1085px;
}

.reference-top {
    margin-bottom: 96px;
}

.reference-top-heading {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    margin-bottom: 10px;
}

.reference-main-heading {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.reference-top-desc {
    margin: 0;
    width: 463px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.reference-bottom {
    display: flex;
    align-items: center;
}

.reference-bottom-left {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.reference-bottom-card-left {
    width: 209px;
    height: 378px;
    background-image: url("../images/doctor.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.reference-card-desc {
    margin: 0;
    position: relative;
    top: 30px;
    left: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 51px;
    background: #E74040;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.button {
    position: relative;
    top: 289px;
    left: 26px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    transition: background 1s;
}

.button + .button {
    margin-left: 10px;
}

.button:hover {
    background-color: #1BA0AB;
}

.card-left-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 242px;
}

.card-left-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
}

.card-left-top-heading {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
}

.card-left-main-heading {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 10px;
}

.card-left-main-desc {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 15px;
}

.card-item-label {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 20px;
}

.card-item-label img {
    margin-right: 10px;
}

.save-btn {
    padding: 0;
    border: none;
    background-color: white;
}

.card-left-price-list {
    margin-bottom: 25px;
}

.price-left {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #BDBDBD;
    margin-right: 5px;
}

.price-right {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #F69B25;
}

.card-info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.card-info-desc {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
}

.card-info-desc + .card-info-desc {
    margin-left: 11px;
}

.info-img {
    margin-right: 5px;
}

.reference-bottom-btn {
    background-image: url("../images/icon-next.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 10px 39px 10px 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    border: 1px solid #1BA0AB;
    border-radius: 37px;
    transition: background 1s, color 1s;
}

.reference-bottom-btn:hover {
    background-color: #1BA0AB;
    color: white;
    border: 1px solid #1BA0AB;
}

.reference-bottom-right {
    display: flex;
    align-items: center;
}

.reference-bottom-card-right {
    width: 209px;
    height: 378px;
    background-image: url("../images/medicine.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 15px;
}

/* SECTION IMPRESSIONS */

.impressions {
    padding-top: 160px;
    padding-bottom: 160px;
}

.impressions-container {
    width: 1085px;
}

.impressions-top {
    margin-bottom: 96px;
}

.impressions-top__top-heading {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    margin-bottom: 10px;
}

.impressions-top__main-heading {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.impressions-top__desc {
    margin: 0;
    max-width: 469px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.impression-bottom {
    display: flex;
    align-items: center;
}

.impression-bottom__left {
    width: 501px;
    padding: 25px 55px 30px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.impression-bottom__left-img {
    margin-bottom: 30px;
}

.impression-bottom__left-desc {
    margin: 0;
    width: 320px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 15px;
}

.stars-img {
    margin-bottom: 15px;
}

.impression-bottom__left-heading {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 5px;
}

.impression-bottom__left-title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.impression-bottom__right {
    width: 501px;
    padding: 25px 55px 30px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECTION OR TEAM */

.team {
    padding-top: 112px;
    padding-bottom: 112px;
}

.team-container {
    width: 1085px;
}

.team-top {
    margin-bottom: 112px;
}

.team-top__top-heading {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    margin-bottom: 10px;
}

.team-top__main-heading {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.impressions-top__desc {
    margin: 0;
    max-width: 469px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.team-card-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.team-card-item {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}

.team-card-img {
    border-radius: 20px 20px 0 0;
}

.team-card-wrapper {
    padding: 30px;
}

.team-card-heading {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 10px;
}

.team-card-desc {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 10px;
}

.team-card-box {
    display: flex;
    align-items: center;
}

.team-card-apps + .team-card-apps {
    margin-left: 20px;
}

/* SECTION JOIN US */

.join {
    padding-top: 160px;
    padding-bottom: 160px;
    background: #FFF5F0;
}

.join-top {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.join-top-heading {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    margin-bottom: 10px;
}

.join-top-main-heading {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.join-top-desc {
    margin: 0;
    max-width: 469px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.join-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.join-bottom-input {
    margin: 0;
    width: 563px;
    height: 58px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    padding-left: 25px;
}

.join-bottom-btn {
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #1BA0AB;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 20px;
}

/* FOOTER */
/* FOOTER TOP */
.footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-top-container {
    width: 1085px;
    justify-content: center;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-item + .footer-item {
    margin-left: 30px;
}

.footer-heading {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 20px;
}

.footer-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer-link + .footer-link {
    margin-top: 10px;
}

.footer-item-info {
    width: 321px;
}

.footer-info-link {
    display: flex;
    align-items: center;
}

.footer-item-desc {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 10px;
}

/* FOOTER BOTTOM */

.footer-bottom {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #FAFAFA;
}

.footer-bottom-container {
    width: 1085px;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom-heading {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer-bottom-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer-bottom-item + .footer-bottom-item {
    margin-left: 20px;
}
